[submodule "cmake/blt"]
	path = cmake/blt
	url = https://github.com/llnl/blt
[submodule "cmake/PYB11Generator"]
	path = extern/PYB11Generator
	url = https://github.com/jmikeowen/PYB11Generator.git
[submodule "PYB11Generator"]
	branch = python3
